@charset "UTF-8";

.container {
    position: relative;
}
    
  
.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
	background-image: linear-gradient(180deg, #29060A, #3E0B10, #480C14, #50121D);
    margin: 0px;
}

footer {   
    background-color: #29060A;
    
    }

div.box {
	width: 150px;
	display: inline-block;
}

div.margem{
    margin-left: 10%;
    margin-right: 10%;
}

p.um {
    width: 100%;
    color: white;
    line-height: 2.0;
    font-size: 18px;
    text-align: center;
}

p.dias {
    width: 100%;
    color: white;
    font-weight: bold;
    line-height: 2.0;
    font-size: 18px;
    text-align: left;
}

p.esquerda {
    width: 100%;
    color: white;
    line-height: 1.0;
    font-size: 18px;
    text-align: left;
}

.header {
  padding: 30px;
  text-align: center;
  background: transparent;
  color: black;
}


li {
    color: black;
    line-height: 2.0;
    font-size: 18px;
}

p > a {
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 10px;
    border-bottom: 10px solid #a7e2dd;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
}

p a:hover {
    background-color: #a7e2dd;
    color: black;
    border-bottom: 3px solid white;
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
}

nav a:hover {
    background-color: #a7e2dd;
    color: black;
    border-bottom: 3px solid white;
}

nav a:active {
    background-color: #a7e2dd;
    color: black;
    border-bottom: 3px solid white;
}


main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}

.collapsible {
    background-color: #a7e2dd;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    color: black;
    line-height: 2.0;
  }
  
  .active, .collapsible:hover {
    background-color: #a7e2dd;
  }
  
  .content {
    padding: 0 18px;
    color: black;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .btn {
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 10px;
    border-bottom: 10px solid #a7e2dd;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
  }