@charset "UTF-8";

body {
    background-image: linear-gradient(90deg, #3f3f3f, #2c2c2c, #191919);
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}

header {
    background-image: url('../static/images/fundoheader08.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.box {
    width: 150px;
    display: inline-block;
}

#feedback {
    color: white;
    text-align: justify;
    line-height: 2.0;
}

div.margem {
    margin-left: 5%;
    margin-right: 5%;
}


h2 {
    color: white;
}

h2.hometitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

h2.homesub {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 34px;
}

li.estude {
    color: white;
}

p.um {
    width: 100%;
    color: white;
    line-height: 2.0;
    font-size: 18px;
    text-align: justify;
}

thead {
    position: sticky;
    top: 0;
    background-color: #fff;
}

p.dias {
    width: 100%;
    color: white;
    font-weight: bold;
    line-height: 2.0;
    font-size: 18px;
    text-align: left;
}

p.esquerda {
    width: 100%;
    color: white;
    line-height: 1.0;
    font-size: 18px;
    text-align: left;
}

li {
    color: black;
    line-height: 2.0;
    font-size: 18px;
}

.linkblog {
    color: white;
    font-size: 22px;
}

.textolink {
    background-color: #a7e2dd;
    color: black;
    border: 1px solid white;
    border-radius: 10px;
}

.linkmenu {
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
}

.linkmenu:hover {
    background-color: #5c799b;
    color: black;
    border-bottom: 3px solid white;
}

nav>a {
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 1s;
}

nav a:active {
    background-color: #5c799b;
    color: black;
    border-bottom: 3px solid white;
}

nav a:hover {
    background-color: #5c799b;
    color: black;
    border-bottom: 3px solid white;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}

.collapsible {
    background-color: #6F6251;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    color: white;
    line-height: 2.0;
}

.collapsiblemenu {
    background-color: #5c799b80;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    color: black;
    cursor: pointer;
    padding: 0px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 18px;
    color: white;
    line-height: 2.0;
}

.active,
.collapsible:hover {
    background-color: #5c799b;
}

.content {
    padding: 0 18px;
    color: black;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.contentmenu {
    padding: 0 0px;
    color: black;
    display: none;
    overflow: hidden;
    background-color: transparent;
}

.btn {
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 10px;
    border-bottom: 10px solid #a7e2dd;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
}

footer {
    background-color: #415449;
    text-align: center;
    align-items: center;
    color: #fff;
    padding: 20px;
}

footer p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

footer img {
    max-width: 25%;
    height: auto;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

td,
th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

td>a {
    color: white;
}

th {
    background-color: white;
    ;
    color: black;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* proporção 16:9 */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    border: 4px solid black;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }
}


* {
    box-sizing: border-box;
}

.grid-container {
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #eee;
    border: 1px solid #999;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.grid-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

legend {
    color: white;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 18px;
    color: white;
}

.result-correct {
    margin-top: 10px;
    color: yellow;
    font-weight: bold;
}

.result-incorrect {
    margin-top: 10px;
    color: red;
    font-weight: bold;
}

.without-aswer {
    margin-top: 10px;
    color: red;
    font-weight: bold;
}

span {
    color: blue;
    font-style: italic;
}

span[title]::before {
    content: attr(title);
    background-color: white;
    color: white;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

span[title]:hover::before {
    visibility: visible;
    color: black;
    opacity: 1;
}


.gridhome {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    margin: 50px auto;
    width: 90%;
}

.area1 {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
}

.area2 {
    height: 450px;
    background-image: url('../static/images/perfil.jpg');
    background-size: cover;
    /* Isso fará com que a imagem preencha toda a div */
    background-position: center;
    /* Isso centralizará a imagem na div */
    padding: 20px;
    border: 1px solid #ccc;
}

.area3 {
    background-color: #5c799b;
    padding: 5px;
    border: 1px solid #ccc;
}

.area1 h2,
.area2 h2 {
    margin-top: 0;
    margin-left: 0;
    color: #333;
}

/* Media Query para telas maiores */
@media only screen and (min-width: 768px) {
    .gridhome {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
    }
}

/* Media Query para telas menores */
@media only screen and (max-width: 767px) {
    .gridhome {
        grid-template-columns: 1fr;
    }
}

p.grid {
    width: 100%;
    color: black;
    line-height: 1.8;
    font-size: 16px;
    text-align: justify;
}

article {
    margin-top: 50px;
    margin-right: 350px;
    margin-left: 10px;
}

aside {
    margin-top: 100px;
    margin-left: 10px;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
}

.conteudo>article {
    flex: 1;
    min-width: 300px;
}

.conteudo>aside {
    min-width: 200px;
}

@media (max-width: 768px) {
    article {
        margin-right: 10px;
        margin-left: 10px;
    }

    aside {
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
}

.post-content {
    width: 100%;
    color: white;
    line-height: 2.0;
    font-size: 18px;
    text-align: justify;
}

/* Estilos da seção de posts */

.posts {
    flex: 3;
}

.posts p {
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.posts h2 {
    margin-top: 0;
}

.posts article {
    margin-bottom: 30px;
}

.posts article h3 {
    margin-top: 0;
}

/* Estilos da barra lateral */
.sidebar {
    margin-bottom: 30px;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #333;
    text-decoration: none;
}

.sidebar img {
    width: 100%;
    margin-bottom: 10px;
}