<!-- footer -->
<footer>
    <div class="container">
        <p>Desenvolvido por:</p>
        <a href="https://daniloas.com/" target="_blank">
            <div class="perfil"></div>
        </a>
        <div class="socialmidia">
            <a href="https://www.instagram.com/daniloas.com_/" class="fa fa-instagram"></a>
            <a href="https://www.linkedin.com/in/daniloandradesantos/" class="fa fa-linkedin"></a>
            <a href="https://www.youtube.com/@daniloas.com_" class="fa fa-youtube"></a>
            <a href="https://github.com/daniloasdotcom" class="fa fa-github" style="color:white"></a>
            <a href="https://daniloas.com/" class="fa fa-globe" style="color:white"></a>
            <!-- Adicione mais redes sociais aqui, se desejar -->
        </div>
        <div class="col-md-6">
            <p>©2023 Danilo Andrade. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>