<!-- navbar 
<div class="row">
    <div class="col">
        <nav id="main-nav" class="nav justify-content-start">
            <li class="nav-item">
                <a class="navbar-link navbar-text" href={{ site.data.routes[0].route }}>
                    {{ site.data.routes[0].label }}
                </a>
            </li>
        </nav>
    </div>
    <div class="col">
        <nav id="main-nav" class="nav justify-content-end">
            {% for route in site.data.routes offset:1 %}
            <li class="nav-item">
                <a class="navbar-link navbar-text" href={{ route.route }}>
                    {{ route.label }}
                </a>
            </li>
            {% endfor %}
        </nav>
    </div>
</div>
-->

<div>
    <h1 style="color: white">BioQuímica - Professor Danilo</h1>
    <hr color="white" size="1" width="80%" align="center" noshade>
    <nav>
        <a class="linkmenu" href={{ site.data.routes[0].route }}>HOME</a>
    </nav>
    <nav>
        <a class="linkmenu" href={{ site.data.routes[1].route }}>BLOG</a>
    </nav>
    <button type="button" class="collapsiblemenu">MENU NUTRIÇÃO</button>
    <div class="contentmenu">
        <nav>
            <a href={{ site.data.routes[2].route }}>CRONOGRAMA - NUTRIÇÃO</a>
        </nav>
        <nav>
            <a href={{ site.data.routes[3].route }}>LISTA DE PRESENÇA</a>
        </nav> 
        <nav>
            <a href={{ site.data.routes[4].route }}>CONTEÚDO NUTRIÇÃO</a>
        </nav>
    </div>
    <div style="padding-bottom: 10px;"></div>
    <!---
    <button type="button" class="collapsiblemenu">MENU AG1/AG2</button>
    <div class="contentmenu">
        <nav>
            <a href={{ site.data.routes[5].route }}>CRONOGRAMA - AG1/AG2</a>
        </nav>
        <nav>
            <a href={{ site.data.routes[6].route }}>CONTEÚDO AGRONOMIA</a>
        </nav>
        <nav>
            <a href={{ site.data.routes[11].route }}>LISTA DE PRESENÇA</a>
        </nav>
    </div>
    <div style="padding-bottom: 10px;"></div>
    <button type="button" class="collapsiblemenu">MENU FA01</button>
    <div class="contentmenu">
        <nav>
            <a href={{ site.data.routes[6].route }}>CRONOGRAMA</a>
        </nav>
        <nav>
            <a href={{ site.data.routes[9].route }}>LISTA DE PRESENÇA</a>
        </nav>
        <nav>
            <a href={{ site.data.routes[10].route }}>CONTEÚDO</a>
        </nav>
    </div>
    
    <div style="padding-bottom: 10px;"></div>
    <button type="button" class="collapsiblemenu">QUIZ E TESTES</button>
    <div class="contentmenu">
        <nav>
            <a href={{ site.data.routes[7].route }}>QUIZ</a>
        </nav>
        <nav>
            <a href={{ site.data.routes[8].route }}>TESTE DE APRENDIZAGEM</a>
        </nav>
    </div>
    <nav>
        <a class="linkmenu" href={{ site.data.routes[9].route }}>BIO MEMORY APP</a>
    </nav>
    -->
    <hr color="white" size="1" width="80%" align="center" noshade>
    
</div>