<tr>
    <th>1</th>
    <th>2024103257</th>
    <th style=background-color:grey>5</th>
    <th>F</th>
    <th>F</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>2</th>
    <th>2024103275</th>
    <th style=background-color:grey>5</th>
    <th>F</th>
    <th>F</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>3</th>
    <th>2024101984</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>4</th>
    <th></th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>5</th>
    <th>2024101981</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>6</th>
    <th>2024103261</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>7</th>
    <th>2024103254</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>8</th>
    <th>2024103276</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>9</th>
    <th>2024103262</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>10</th>
    <th>2024101980</th>
    <th style=background-color:grey>5</th>
    <th>F</th>
    <th>F</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>11</th>
    <th>2024103273</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>12</th>
    <th>2024103265</th>
    <th style=background-color:grey>5</th>
    <th>F</th>
    <th>F</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>13</th>
    <th>2024101977</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>14</th>
    <th>2024103256</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>15</th>
    <th>2024103267</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>16</th>
    <th>2024103263</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>17</th>
    <th>2024103272</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>18</th>
    <th>2024103264</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>19</th>
    <th>2024103259</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>20</th>
    <th></th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>21</th>
    <th>2024103258</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>22</th>
    <th>2024103270</th>
    <th style=background-color:grey>2</th>
    <th>F</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>23</th>
    <th>2024103255</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>24</th>
    <th>2024101978</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>25</th>
    <th>2024103277</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>26</th>
    <th></th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>27</th>
    <th>2024103271</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>28</th>
    <th>2024103260</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>29</th>
    <th>2024101982</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>30</th>
    <th></th>
    <th style=background-color:grey>3</th>
    <th>P</th>
    <th>F</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>31</th>
    <th>2024103268</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>32</th>
    <th>2024101983</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>33</th>
    <th>2024103278</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>34</th>
    <th>2024103266</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>35</th>
    <th>2024103274</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>36</th>
    <th>2024101979</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th></th>
    <th></th>
</tr>