<tr>
    <th>1</th>
    <th>2022200382</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>2</th>
    <th>2021201677</th>
    <th style=background-color:grey>3</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>3</th>
    <th>2020203381</th>
    <th style=background-color:grey>1</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>4</th>
    <th>2022200460</th>
    <th style=background-color:grey>1</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>5</th>
    <th>2022200438</th>
    <th style=background-color:grey>3</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>6</th>
    <th>2022200536</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>7</th>
    <th>2021201338</th>
    <th style=background-color:grey>7</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>F</th>
    <th>F</th>
    <th>F</th>
    <th>F</th>
    <th>F</th>
    <th>F</th>
    <th></th>
</tr>
<tr>
    <th>8</th>
    <th>2021201081</th>
    <th style=background-color:grey>3</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>9</th>
    <th>2022200768</th>
    <th style=background-color:grey>2</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>10</th>
    <th>2019200908</th>
    <th style=background-color:grey>2</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>11</th>
    <th>2022200444</th>
    <th style=background-color:grey>6</th>
    <th>F</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>F</th>
    <th>F</th>
    <th>F</th>
    <th></th>
</tr>
<tr>
    <th>12</th>
    <th>2022200219</th>
    <th style=background-color:grey>1</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>13</th>
    <th>2022200873</th>
    <th style=background-color:grey>5</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>F</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th></th>
</tr>
<tr>
    <th>14</th>
    <th>2022200445</th>
    <th style=background-color:grey>2</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>15</th>
    <th>2020204769</th>
    <th style=background-color:grey>2</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>16</th>
    <th>2019200950</th>
    <th style=background-color:grey>2</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>17</th>
    <th>2021200957</th>
    <th style=background-color:grey>3</th>
    <th>F</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>18</th>
    <th>2019201719</th>
    <th style=background-color:grey>8</th>
    <th>F</th>
    <th>P</th>
    <th>F</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>F</th>
    <th>F</th>
    <th>F</th>
    <th>F</th>
    <th></th>
</tr>
<tr>
    <th>19</th>
    <th>2022200447</th>
    <th style=background-color:grey>3</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>20</th>
    <th>2021201866</th>
    <th style=background-color:grey>8</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>F</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>F</th>
    <th>F</th>
    <th>F</th>
    <th>F</th>
    <th>F</th>
    <th></th>
</tr>
<tr>
    <th>21</th>
    <th>2021202014</th>
    <th style=background-color:grey>1</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>22</th>
    <th>2022201152</th>
    <th style=background-color:grey>1</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>23</th>
    <th>2021201056</th>
    <th style=background-color:grey>3</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th></th>
</tr>