<tr>
    <th>1</th>
    <th>2023100967</th>
    <th style=background-color:grey>2</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>2</th>
    <th>2023101034</th>
    <th style=background-color:grey>4</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>3</th>
    <th>2023100306</th>
    <th style=background-color:grey>8</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>4</th>
    <th>2023101747</th>
    <th style=background-color:grey>12</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>F</th>
    <th>F</th>
    <th>F</th>
    <th>F</th>
    <th></th>
</tr>
<tr>
    <th>5</th>
    <th>2023102148</th>
    <th style=background-color:grey>6</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>6</th>
    <th>2023100596</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>7</th>
    <th>2023100101</th>
    <th style=background-color:grey>4</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>8</th>
    <th>2023101098</th>
    <th style=background-color:grey>4</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>9</th>
    <th>2023100105</th>
    <th style=background-color:grey>4</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>10</th>
    <th>2023100127</th>
    <th style=background-color:grey>2</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>11</th>
    <th>2023100960</th>
    <th style=background-color:grey>8</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th></th>
</tr>
<tr>
    <th>12</th>
    <th>2023100968</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>13</th>
    <th>2023101459</th>
    <th style=background-color:grey>4</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>14</th>
    <th>2023101464</th>
    <th style=background-color:grey>8</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th> </th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>15</th>
    <th>2023100181</th>
    <th style=background-color:grey>2</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>16</th>
    <th>2023100305</th>
    <th style=background-color:grey>0</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>17</th>
    <th>2023101492</th>
    <th style=background-color:grey>10</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>F</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>F</th>
    <th></th>
</tr>
<tr>
    <th>18</th>
    <th>2023101460</th>
    <th style=background-color:grey>8</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>19</th>
    <th>2023100304</th>
    <th style=background-color:grey>4</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>20</th>
    <th>2023101035</th>
    <th style=background-color:grey>10</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>21</th>
    <th>2023101442</th>
    <th style=background-color:grey>12</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>F</th>
    <th>P</th>
    <th>F</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>FJ</th>
    <th>P</th>
    <th>F</th>
    <th></th>
</tr>
<tr>
    <th>22</th>
    <th>2023101470</th>
    <th style=background-color:grey>2</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>23</th>
    <th>2023102225 </th>
    <th style=background-color:grey>6</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>24</th>
    <th>2022101106</th>
    <th style=background-color:grey>12</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th></th>
</tr>
<tr>
    <th>25</th>
    <th>2023100135</th>
    <th style=background-color:grey>8</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>
<tr>
    <th>26</th>
    <th>2023101457</th>
    <th style=background-color:grey>22</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>F</th>
    <th>F</th>
    <th>F</th>
    <th>P</th>
    <th>F</th>
    <th>F</th>
    <th>F</th>
    <th>F</th>
    <th>F</th>
    <th></th>
</tr>
<tr>
    <th>27</th>
    <th>2022101370 </th>
    <th style=background-color:grey>8</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>F</th>
    <th>F</th>
    <th>P</th>
    <th>P</th>
    <th>FJ</th>
    <th>FJ</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th>P</th>
    <th></th>
</tr>