<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Bioquímica</title>
	<link href="{{"css/style.css" | relative_url}}" rel="stylesheet">
	<link href="{{"css/blog.css" | relative_url}}" rel="stylesheet">
	<script src="./main.js"></script>
</head>

<body>
	<header>
		<div>
			{% include navbar.html %}
		</div>
	</header>
	<main>

		<h2 style="color: #FFFFFF" align="center">Lista de postagens recentes</h2>
		<hr color="white" size="1" width="80%" align="center" noshade>
		<div class="post-title-container">
			{{ content }}
			<ul class="myposts">
				{% for post in site.posts %}
				<li>
					<a href="{{ post.url }}" class="post-title">{{ post.title }}</a>
					<p>{{ post.date | date: "%-d %b %Y" }}</p>
					<p>{{ post.excerpt }}</p>
				</li>
				<hr color="white" size="1" width="80%" align="center" noshade>
				<hr color="white" size="1" width="80%" align="center" noshade>
				{% endfor %}
			</ul>
		</div>
		<hr color="white" size="1" width="80%" align="center" noshade>
	</main>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>Desenvolvido por:</p>
				</div>
				<div class="col-md-6">
					<a href="https://daniloas.com/" target="_blank">
						<img src="./assets/daniloas.png" alt="Logo Exemplo">
					</a>
				</div>
				<div class="socialmidia">
					<a href="https://www.instagram.com/daniloas.com_/" class="fa fa-instagram"></a>
					<a href="https://www.linkedin.com/in/daniloandradesantos/" class="fa fa-linkedin"></a>
					<a href="https://www.youtube.com/@daniloas.com_" class="fa fa-youtube"></a>
					<a href="https://github.com/daniloasdotcom" class="fa fa-github" style="color:white"></a>
					<!-- Adicione mais redes sociais aqui, se desejar -->
				</div>
				<div class="col-md-6">
					<p>©2023 Danilo Andrade. Todos os direitos reservados.</p>
				</div>
			</div>
		</div>
	</footer>
	<script>
		var coll = document.getElementsByClassName("collapsiblemenu");
		var i;

		for (i = 0; i < coll.length; i++) {
			coll[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var content = this.nextElementSibling;
				if (content.style.display === "block") {
					content.style.display = "none";
				} else {
					content.style.display = "block";
				}
			});
		}
	</script>
</body>

</html>

