<!DOCTYPE html>
<html lang="pt-br">

</html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Bioquímica</title>
    <link href="{{"css/style.css" | relative_url}}" rel="stylesheet">
    <script src="./main.js"></script>
</head>

<body>
	<header>
        <div>
            {% include navbar.html %}
        </div>
    </header>
	
	<div class="margem">
		<h1 style="color: #FFFFFF">Quiz - Cadeia Respiratória</h1>
		<form>
			<fieldset>
				<legend>1 - Qual o principal produto da fosforilação oxidativa na mitocôndria?</legend>
				<label><input type="radio" name="pergunta1" value="a">A) Água</label>
				<label><input type="radio" name="pergunta1" value="b">B) Gás carbônico</label>
				<label><input type="radio" name="pergunta1" value="c">C) ATP</label>
				<label><input type="radio" name="pergunta1" value="d">D) NADH</label>
				<button type="button" onclick="checkAnswer(1)">Verificar resposta</button>
				<div id="result-p1"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>2 - Qual a principal fonte de elétrons para a cadeia respiratória na fosforilação oxidativa?</legend>
				<label><input type="radio" name="pergunta2" value="a">A) Glicose</label>
				<label><input type="radio" name="pergunta2" value="b">B) Ácido pirúvico</label>
				<label><input type="radio" name="pergunta2" value="c">C) NADH e FADH2</label>
				<label><input type="radio" name="pergunta2" value="d">D) ATP</label>
				<button type="button" onclick="checkAnswer(2)">Verificar resposta</button>
				<div id="result-p2"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>3 - Qual é o papel da ATP sintase na fosforilação oxidativa?</legend>
				<label><input type="radio" name="pergunta3" value="a">A) Transferir elétrons do NADH para o ubiquinona</label>
				<label><input type="radio" name="pergunta3" value="b">B) Bombear prótons para fora da matriz mitocondrial</label>
				<label><input type="radio" name="pergunta3" value="c">C) Produzir ATP a partir do gradiente de prótons</label>
				<label><input type="radio" name="pergunta3" value="d">D) Transferir elétrons do citocromo c para o oxigênio</label>
				<button type="button" onclick="checkAnswer(3)">Verificar resposta</button>
				<div id="result-p3"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>4 - O que é o gradiente de prótons na fosforilação oxidativa?</legend>
				<label><input type="radio" name="pergunta4" value="a">A) Se refere à diferença de concentração de prótons entre a matriz mitocondrial e o espaço intermembrana que tem como consequencia a produção de ATP através do giro da ATP sintase</label>
				<label><input type="radio" name="pergunta4" value="b">B) É  uma sequência de reações químicas que convertem NADH em ATP</label>
				<label><input type="radio" name="pergunta4" value="c">C) É uma proteína que transporta prótons através da membrana mitocondrial</label>
				<label><input type="radio" name="pergunta4" value="d">D) É um processo que oxida nutrientes para gerar energia</label>
				<button type="button" onclick="checkAnswer(4)">Verificar resposta</button>
				<div id="result-p4"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>5 - Qual é o nome do complexo enzimatico responsável pela produção de ATP na fosforilação oxidativa?</legend>
				<label><input type="radio" name="pergunta5" value="a">A) ATP hidrolase</label>
				<label><input type="radio" name="pergunta5" value="b">B) ATP sintase</label>
				<label><input type="radio" name="pergunta5" value="c">C) ATP redutase</label>
				<label><input type="radio" name="pergunta5" value="d">D) ATP oxidase</label>
				<button type="button" onclick="checkAnswer(5)">Verificar resposta</button>
				<div id="result-p5"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>6 - Qual é o nome do complexo proteico que transfere elétrons do NADH para o ubiquinona?</legend>
				<label><input type="radio" name="pergunta6" value="a">A) Complexo I</label>
				<label><input type="radio" name="pergunta6" value="b">B) Complexo II</label>
				<label><input type="radio" name="pergunta6" value="c">C) Complexo III</label>
				<label><input type="radio" name="pergunta6" value="d">D) Complexo IV</label>
				<button type="button" onclick="checkAnswer(6)">Verificar resposta</button>
				<div id="result-p6"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>7 - O que é fosforilação oxidativa?</legend>
				<label><input type="radio" name="pergunta7" value="a">A) Uma reação de oxidação que ocorre na presença de ATP</label>
				<label><input type="radio" name="pergunta7" value="b">B) Uma reação de síntese de proteínas na mitocôndria</label>
				<label><input type="radio" name="pergunta7" value="c">C) Uma reação de redução que ocorre na cadeia respiratória</label>
				<label><input type="radio" name="pergunta7" value="d">D) Um processo que liga ADP + fosfato formando ATP a partir da movimentação da ATP sintase</label>
				<button type="button" onclick="checkAnswer(7)">Verificar resposta</button>
				<div id="result-p7"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>8 - A respiração celular é um processo que garante a produção da energia necessária para a sobrevivência dos seres vivos. Analise as alternativas a seguir e marque aquela que não indica uma das etapas da respiração celular.</legend>
				<label><input type="radio" name="pergunta8" value="a">A) Glicólise</label>
				<label><input type="radio" name="pergunta8" value="b">B) Fosforilação oxidativa</label>
				<label><input type="radio" name="pergunta8" value="c">C) Ciclo de Krebs</label>
				<label><input type="radio" name="pergunta8" value="d">D) Ciclo de Calvin</label>
				<button type="button" onclick="checkAnswer(8)">Verificar resposta</button>
				<div id="result-p8"></div>
			</fieldset>	
			<br></br>
			<fieldset>
				<legend>9 - Qual é a principal função da cadeia respiratória?</legend>
				<label><input type="radio" name="pergunta9" value="a">A) Produzir oxigênio para as células</label>
				<label><input type="radio" name="pergunta9" value="b">B) Produzir energia na forma de ATP</label>
				<label><input type="radio" name="pergunta9" value="c">C) Produzir dióxido de carbono para a atmosfera</label>
				<label><input type="radio" name="pergunta9" value="d">D) Produzir água como subproduto</label>
				<button type="button" onclick="checkAnswer(9)">Verificar resposta</button>
				<div id="result-p9"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>10 - Qual é o papel do citocromo c na cadeia respiratória?</legend>
				<label><input type="radio" name="pergunta10" value="a">A) Receber elétrons do Complexo I</label>
				<label><input type="radio" name="pergunta10" value="b">B) Receber elétrons do Complexo II</label>
				<label><input type="radio" name="pergunta10" value="c">C) Transferir elétrons para o Complexo IV</label>
				<label><input type="radio" name="pergunta10" value="d">D) Transferir prótons para a matriz mitocondrial</label>
				<button type="button" onclick="checkAnswer(10)">Verificar resposta</button>
				<div id="result-p10"></div>
			</fieldset>	
			<br></br>
			<fieldset>
				<legend>11 - Qual é o nome do processo que utiliza o gradiente de prótons gerado pela cadeia respiratória para produzir ATP?</legend>
				<label><input type="radio" name="pergunta11" value="a">A) Fosforilação oxidativa</label>
				<label><input type="radio" name="pergunta11" value="b">B) Glicólise</label>
				<label><input type="radio" name="pergunta11" value="c">C) Ciclo de Krebs</label>
				<label><input type="radio" name="pergunta11" value="d">D) Fermentação</label>
				<button type="button" onclick="checkAnswer(11)">Verificar resposta</button>
				<div id="result-p11"></div>
			</fieldset>			
		</form>
	</div>
	<script>
		function checkAnswer(questionNumber) {
			var radios = document.getElementsByName("pergunta" + questionNumber);
			var resultDiv = document.getElementById("result-p" + questionNumber);
			var selectedValue = null;

			for (var i = 0; i < radios.length; i++) {
				if (radios[i].checked) {
					selectedValue = radios[i].value;
					break;
				}
			}

			if (selectedValue === null) {
				resultDiv.innerHTML = "Por favor, selecione uma resposta.";
				resultDiv.className = "without-aswer";
			} else if (selectedValue === "c" && questionNumber === 1) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "c" && questionNumber === 2) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "c" && questionNumber === 3) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "a" && questionNumber === 4) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "b" && questionNumber === 5) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "a" && questionNumber === 6) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "d" && questionNumber === 7) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "d" && questionNumber === 8) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "b" && questionNumber === 9) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "a" && questionNumber === 10) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "a" && questionNumber === 11) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else {
				resultDiv.innerHTML = "Resposta incorreta. Tente novamente.";
				resultDiv.className = "result-incorrect";
			}
		}
	</script>
	<br></br>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>Desenvolvido por:</p>
				</div>
				<div class="col-md-6">
					<a href="https://daniloas.com/" target="_blank">
						<img src="./assets/daniloas.png" alt="Logo Exemplo">
					</a>
				</div>
				<div class="socialmidia">
					<a href="https://www.instagram.com/daniloas.com_/" class="fa fa-instagram"></a>
					<a href="https://www.linkedin.com/in/daniloandradesantos/" class="fa fa-linkedin"></a>
					<a href="https://www.youtube.com/@daniloas.com_" class="fa fa-youtube"></a>
					<a href="https://github.com/daniloasdotcom" class="fa fa-github" style="color:white"></a>
					<!-- Adicione mais redes sociais aqui, se desejar -->
				</div>
				<div class="col-md-6">
					<p>©2023 Danilo Andrade. Todos os direitos reservados.</p>
				</div>
			</div>
		</div>
	</footer>
	<script>
		var coll = document.getElementsByClassName("collapsiblemenu");
		var i;

		for (i = 0; i < coll.length; i++) {
			coll[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var content = this.nextElementSibling;
				if (content.style.display === "block") {
					content.style.display = "none";
				} else {
					content.style.display = "block";
				}
			});
		}
	</script>
</body>

</html>