<!DOCTYPE html>
<html lang="pt-br">

</html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Bioquímica</title>
    <link href="{{"css/style.css" | relative_url}}" rel="stylesheet">
    <script src="./main.js"></script>
</head>

<body>
    <header>
        <div>
            {% include navbar.html %}
        </div>
    </header>
    <div class="margem" align="justify">
    <center>
        <h1 style="color: white">Metodologia de Pesquisa para Farmácia</h1>
        <h2 style="color: white">Materiais complementares e resumos</h2>
    </center>
    <br></br>
    <button type="button" class="collapsible-conteudo">O Método Científico<i class="fa fa-folder-open"></i></button>
		<div class="content">
            <h2 style="color: black">Material complementar<i class="fa fa-book"></i></h2>
            <ul>
                <li><a href="./assets/metodologia/metodo_cientifico.pptx" download="metodo_cientifico.pptx"
                    target="_blank" rel="external">Slides da nossa aula</a></li>
            </ul>
			<h1>O Método Científico</h1>
    
                <p style="line-height: 1.5; font-size: 18px">O método científico é um processo sistemático utilizado pelos cientistas para investigar e entender o mundo ao nosso redor. Ele é composto por várias etapas interconectadas que ajudam a garantir que as conclusões obtidas sejam confiáveis e baseadas em evidências.</p>

                <h2 style="color: black">Etapas do Método Científico:</h2>
                <ol>
                    <li><strong>Observação:</strong> Começa com a observação de um fenômeno ou problema.</li>
                    <li><strong>Pergunta:</strong> Formula-se uma pergunta específica com base na observação.</li>
                    <li><strong>Hipótese:</strong> Propõe-se uma hipótese, uma explicação testável para a pergunta.</li>
                    <li><strong>Experimentação:</strong> Realizam-se experimentos controlados para testar a hipótese.</li>
                    <li><strong>Coleta de Dados:</strong> Registra-se e analisa-se os dados resultantes dos experimentos.</li>
                    <li><strong>Conclusões:</strong> Chega-se a conclusões com base nos dados coletados.</li>
                    <li><strong>Comunicação:</strong> Os resultados são comunicados à comunidade científica e ao público.</li>
                </ol>

                <h2 style="color: black">Características Importantes:</h2>
                <ul>
                    <li>O método científico é baseado em evidências empíricas.</li>
                    <li>É um processo contínuo e auto-corretivo.</li>
                    <li>A hipótese pode ser aceita ou rejeitada com base nos resultados dos experimentos.</li>
                    <li>Contribui para a acumulação do conhecimento científico.</li>
                </ul>

                <p style="line-height: 1.5; font-size: 18px">O método científico é uma ferramenta essencial para a descoberta e compreensão da natureza, permitindo que os cientistas investiguem questões complexas e desenvolvam teorias confiáveis.</p>
		</div>
    <br></br>
    <button type="button" class="collapsible-conteudo">Lógica e Ciência<i class="fa fa-folder-open"></i></button>
		<div class="content">
            <h2 style="color: black">Material complementar<i class="fa fa-book"></i></h2>
            <ul>
                <li><a href="./assets/metodologia/logica_ciencia.pptx" download="logica_ciencia.pptx"
                    target="_blank" rel="external">Slides da nossa aula</a></li>
            </ul>
			<h1 style="color: black">Lógica e Comunicação Científica</h1>
    
                <p style="line-height: 1.5; font-size: 18px">A lógica desempenha um papel crucial na comunicação científica, pois é fundamental para construir argumentos sólidos e identificar falácias lógicas. Neste contexto, é importante destacar a diferença entre a ciência legítima e a pseudociência.</p>

                <h2 style="color: black">Falácias Lógicas na Comunicação Científica:</h2>
                <p style="line-height: 1.5; font-size: 18px">Falácias lógicas são erros de raciocínio que podem levar a conclusões falsas ou enganosas. Elas devem ser evitadas na comunicação científica para manter a integridade e a credibilidade da pesquisa. Alguns exemplos de falácias comuns incluem:</p>
                <ul>
                    <li><strong>Ad Hominem:</strong> Atacar a pessoa que apresenta um argumento em vez de abordar o argumento em si.</li>
                    <li><strong>Falsa Causalidade:</strong> Assumir que, porque duas coisas acontecem simultaneamente, uma causa a outra.</li>
                    <li><strong>Generalização Apressada:</strong> Tirar conclusões amplas com base em evidência insuficiente.</li>
                    <li><strong>Apelo à Emoção:</strong> Usar emoções em vez de evidência lógica para apoiar um argumento.</li>
                </ul>

                <h2 style="color: black">Pseudociência e sua Armadilha:</h2>
                <p style="line-height: 1.5; font-size: 18px">A pseudociência é uma forma de conhecimento que se apresenta como científica, mas não segue os princípios do método científico nem se baseia em evidências confiáveis. Ela muitas vezes utiliza falácias lógicas e argumentos enganosos para atrair pessoas. Exemplos de pseudociência incluem curas milagrosas sem evidência científica, teorias da conspiração infundadas e práticas não comprovadas.</p>

                <p style="line-height: 1.5; font-size: 18px">É importante que os cientistas e comunicadores científicos estejam cientes das falácias lógicas e saibam identificar e combater a pseudociência. A comunicação científica eficaz envolve a apresentação de argumentos sólidos e a promoção de um pensamento crítico entre o público.</p>
            </div>
    
    <br></br>
    <button type="button" class="collapsible-conteudo">A importância de referenciar<i class="fa fa-folder-open"></i></button>
		<div class="content">
            <h2 style="color: black">Material complementar<i class="fa fa-book"></i></h2>
            <ul>
                <li><a href="./assets/metodologia/exemplo_de_como_as_referencias_foram_importantes.pptx" download="exemplo_de_como_as_referencias_foram_importantes.pptx"
                    target="_blank" rel="external">Slides da nossa aula</a></li>
            </ul>

            <ul>
                <li><a href="./assets/metodologia/artigos/kory_et_al_2021_manuscrito.pdf" download="kory_et_al_2021_manuscrito.pdf" target="_blank"
                            rel="external">Kory et. al (2021) Manuscrito</a></li>
            </ul>
            <ul>
                <li><a href="./assets/metodologia/artigos/kory_et_al_2021_publicado.pdf" download="kory_et_al_2021_publicado.pdf" target="_blank"
                            rel="external">Kory et. al (2021) Publicado</a></li>
            </ul>

			<h1>A Importância de Referenciar Informações de Trabalhos Científicos</h1>
    
            <p style="line-height: 1.5; font-size: 18px">A prática de referenciar informações de trabalhos científicos é uma pedra angular do método científico e desempenha um papel fundamental na pesquisa acadêmica. Ela é crucial por diversas razões:</p>

            <h2 style="color: black">1. Credibilidade e Confiança</h2>
            <p style="line-height: 1.5; font-size: 18px">Quando você referencia informações de trabalhos científicos anteriores, está demonstrando que sua pesquisa é baseada em conhecimento sólido e confiável. Isso aumenta a credibilidade de seu próprio trabalho e ajuda outros pesquisadores a confiarem em suas descobertas.</p>

            <h2 style="color: black">2. Construção Sustentável do Conhecimento</h2>
            <p style="line-height: 1.5; font-size: 18px">A ciência é um esforço colaborativo que se constrói sobre as descobertas de outros. Ao referenciar trabalhos anteriores, você contribui para a construção sustentável do conhecimento científico, permitindo que outros pesquisadores continuem a desenvolver ideias e teorias.</p>

            <h2 style="color: black">3. Transparência e Reprodutibilidade</h2>
            <p style="line-height: 1.5; font-size: 18px">A citação adequada torna seu trabalho transparente. Outros pesquisadores podem verificar suas fontes e reproduzir seus experimentos, permitindo que a pesquisa seja testada e validada de forma independente, um princípio fundamental da ciência.</p>

            <h2 style="color: black">4. Respeito pela Propriedade Intelectual</h2>
            <p style="line-height: 1.5; font-size: 18px">Referenciar informações é uma demonstração de respeito pela propriedade intelectual e pelos direitos autorais. Isso reconhece o esforço e a contribuição dos autores originais e evita o plágio, uma prática antiética na pesquisa acadêmica.</p>

            <h2 style="color: black">5. Facilitação da Comunicação Científica</h2>
            <p style="line-height: 1.5; font-size: 18px">A citação adequada facilita a comunicação entre pesquisadores, permitindo que outros encontrem facilmente as fontes de suas informações. Isso é especialmente importante em um mundo onde o acesso à informação científica é fundamental para o progresso da ciência.</p>

        </div>
    <br></br>
    <button type="button" class="collapsible-conteudo">Referências e Citações<i class="fa fa-folder-open"></i></button>
		<div class="content">
            <h2 style="color: black">Material complementar<i class="fa fa-book"></i></h2>
            <ul>
                <li><a href="./assets/metodologia/tipos_de_referencias_e_citacoes.pptx" download="tipos_de_referencias_e_citacoes.pptx"
                    target="_blank" rel="external">Slides da nossa aula</a></li>
            </ul>
            <ul>
                <li><a href="./assets/metodologia/artigos/Normalizacao de referencias.pdf" download="Normalizacao de referencias.pdf" target="_blank"
                            rel="external">Guia para normalização de referências
                            bibliográficas - UFES</a></li>
            </ul>
			<h1>Tipos de Referências e Citações</h1>
    
            <p style="line-height: 1.5; font-size: 18px">Na pesquisa acadêmica e científica, referenciar e citar fontes é uma prática essencial para dar crédito aos autores originais, sustentar argumentos e fornecer evidências sólidas. Existem diferentes tipos de referências e citações, cada um com seu propósito específico:</p>

            <h2 style="color: black">1. Citações Diretas</h2>
            <p style="line-height: 1.5; font-size: 18px">As citações diretas envolvem a reprodução exata de uma passagem do texto original entre aspas. Elas são usadas quando se deseja destacar uma frase específica, oferecer suporte a um argumento com as palavras exatas do autor ou quando a linguagem utilizada é particularmente significativa.</p>

            <h2 style="color: black">2. Citações Indiretas (Paráfrases)</h2>
            <p style="line-height: 1.5; font-size: 18px">As citações indiretas, também conhecidas como paráfrases, envolvem a reescrita do conteúdo de uma fonte em suas próprias palavras. Essas citações são usadas para resumir informações, apresentar argumentos em suas próprias palavras e evitar a repetição de citações diretas.</p>

            <h2 style="color: black">3. Citações de Citações (Citações Secundárias)</h2>
            <p style="line-height: 1.5; font-size: 18px">Citações de citações ocorrem quando você cita uma fonte que foi citada por outro autor. Isso é usado quando você não teve acesso direto à fonte original, mas deseja incluir o conteúdo em seu trabalho. É importante fornecer a fonte original sempre que possível.</p>

            <h2 style="color: black">4. Referências Bibliográficas</h2>
            <p style="line-height: 1.5; font-size: 18px">As referências bibliográficas são listas de todas as fontes citadas em seu trabalho. Elas incluem informações detalhadas sobre cada fonte, como autor(es), título, editora, data de publicação, etc. As referências bibliográficas permitem que os leitores localizem as fontes originais para uma análise mais aprofundada.</p>

            <h2 style="color: black">5. Notas de Rodapé e Notas Finais</h2>
            <p style="line-height: 1.5; font-size: 18px">Notas de rodapé e notas finais são usadas para fornecer informações adicionais ou esclarecimentos em relação ao texto principal. Elas podem incluir citações, explicações ou comentários relevantes e ajudam a manter a clareza do texto principal enquanto fornecem informações importantes.</p>

            <p style="line-height: 1.5; font-size: 18px">É importante entender quando e como usar cada tipo de referência e citação de acordo com as normas de formatação e estilo acadêmico específicas, como APA, MLA, Chicago, entre outras. O uso correto de referências e citações é fundamental para a integridade da pesquisa acadêmica e científica.</p>


        </div>
    </div>
    <br></br>    
    <!--
    <div style="overflow-x:auto;">
        <figure align = "center">
            <img src="/assets/images/steps.png" style="width:70%">
        </figure>
    </div>
    -->
    <br></br>
    <footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>Desenvolvido por:</p>
				</div>
				<div class="col-md-6">
					<a href="https://daniloas.com/" target="_blank">
						<img src="./assets/daniloas.png" alt="Logo Exemplo">
					</a>
				</div>
				<div class="socialmidia">
					<a href="https://www.instagram.com/daniloas.com_/" class="fa fa-instagram"></a>
					<a href="https://www.linkedin.com/in/daniloandradesantos/" class="fa fa-linkedin"></a>
					<a href="https://www.youtube.com/@daniloas.com_" class="fa fa-youtube"></a>
                    <a href="https://github.com/daniloasdotcom" class="fa fa-github" style="color:white"></a>
                    <a href="https://daniloas.com/" class="fa fa-globe" style="color:white"></a>
					<!-- Adicione mais redes sociais aqui, se desejar -->
				</div>
				<div class="col-md-6">
					<p>©2023 Danilo Andrade. Todos os direitos reservados.</p>
				</div>
			</div>
		</div>
	</footer>
    <script>
        var coll = document.getElementsByClassName("collapsiblemenu");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>

    <script>
        var coll = document.getElementsByClassName("collapsible-conteudo");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
</body>

</html>