<!DOCTYPE html>
<html lang="pt-br">

</html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Bioquímica</title>
	<link href="{{"css/style.css" | relative_url}}" rel="stylesheet">
	<script src="./main.js"></script>
</head>

<body>
	<header>
        <div>
            {% include navbar.html %}
        </div>
    </header>
	<main>
	<div class="margem" align="justify">
		<br></br>
		<h2 style="color: #FFFFFF" align="left">Cronograma de aulas - Nutrição</h2>
		<button type="button" class="collapsible-conclude">Semanas já concluídas</button>
		<div class="content">
			<br></br>
			<button type="button" class="collapsible"><s>Semana 01 - 11/03 - 15/03</s></button>
		<div class="content">
			<ul>
				<li><b><s>13/03 - 4ª feira</s></b></li>
				<ul>
					<li><s>Apresentação da disciplina</s></li>
				</ul>
				<li><b><s>15/03 - 6ª feira</s></b></li>
				<ul>
					<li><s>1ª Aula Teórica - Revisão de química para bioquímica</s></li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible"><s>Semana 02 - 18/03 - 22/03</s></button>
		<div class="content">
			<ul>
				<li><b><s>20/03 - 4ª feira</s></b></li>
				<ul>
					<li><s>1ª Micro Prova - Revisão de química para bioquímica</s></li>
				</ul>
				<li><b><s>22/03 - 6ª feira</s></b></li>
				<ul>
					<li><s>Sem aula - Professor em Recuperação</s></li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible"><s>Semana 03 - 25/03 - 29/03</s></button>
		<div class="content">
			<ul>
				<li><b><s>27/03 - 4ª feira</s></b></li>
				<ul>
					<li><s>Sem aula - Em prol dos afetados pela chuvas</s></li>
				</ul>
				<li><b><s>29/03 - 6ª feira</s></b></li>
				<ul>
					<li><s>Sem aula - Feriado</s></li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible"><s>Semana 04 - 01/04 - 05/04</s></button>
		<div class="content">
			<ul>
				<li><b><s>03/04 - 4ª feira</s></b></li>
				<ul>
					<li><s>16:00 - 17:00 - Aula normal</s></li>
					<li><s>17:00 - 18:00 - Aplicação da primeira micro prova - Somente para alunos que não fizeram nossa primeira micro prova</s></li>
					<li><s>17:00 - 18:00 - Aplicação da prova substitutiva relacionada à primeira micro prova - Somente <b>para alunos que desejam melhorar a nota da primeira micro prova</s></b></li>
				</ul>
				<li><b><s>05/04 - 6ª feira</s></b></li>
				<ul>
					<li><s>2ª Aula Teórica - Introdução à Bioenergética e Bioquímica + teste de vocabulário</s></li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible"><s>Semana 05 - 08/04 - 12/04</s></button>
		<div class="content">
			<ul>
				<li><b><s>10/04 - 4ª feira</s></b></li>
				<ul>
					<li><s>2ª Micro Prova - Introdução a Bioenergética e Bioquímica</s></li>
				</ul>
				<li><b><s>12/04 - 6ª feira</s></b></li>
				<ul>
					<li><s>Aula Teórica - Glicólise</s></li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible"><s>Semana 06 - 15/04 - 19/04</s></button>
		<div class="content">
			<ul>
				<li><b><s>17/04 - 4ª feira</s></b></li>
				<ul>
					<li><s>3ª Micro Prova - Glicólise</s></li>
				</ul>
				<li><b><s>19/04 - 6ª feira</s></b></li>
				<ul>
					<li><s>3ª Micro Prova - Glicólise</s></li>
				</ul>
			</ul>
		</div>
		<br></br>
		</div>
		<br></br>
		<button type="button" class="collapsible">Esta Semana - 05/08 à 09/08</button>
		<div class="content">
			<ul>
				<li><b>07/08 - 4ª feira</b></li>
				<ul>
					<li>Aula teórica - Fermentação</li>
				</ul>
				<li><b>09/08 - 6ª feira</b></li>
				<ul>
					<li>Aula teórica - Gliconeogênese</li>
				</ul>
			</ul>
		</div>
		<!---
		<div class="content">
			<ul>
				<li><b><s>24/04 - 4ª feira</s></b></li>
				<ul>
					<li><s>Sem Aula</s></li>
				</ul>
				<li><b>26/04 - 6ª feira</b></li>
				<ul>
					<li>Sem Aula</li>
				</ul>
			</ul>
		</div>
		--->
		<br></br>
		<button type="button" class="collapsible-conclude">Semanas Programadas</button>
		<div class="content">
		<br></br>
		<button type="button" class="collapsible">Semana 08 - 29/04 - 03/05</button>
		<div class="content">
			<ul>
				<li><b>14/08 - 4ª feira</b></li>
				<ul>
					<li>Teste de vocabulário</li>
				</ul>
				<li><b>14/08 - 6ª feira</b></li>
				<ul>
					<li>Sem aula</li>
				</ul>
			</ul>
		</div>
		<br></br>
		</div>
	<br></br>
	<br></br>
	</main>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>Desenvolvido por:</p>
				</div>
				<div class="col-md-6">
					<a href="https://daniloas.com/" target="_blank">
						<img src="./assets/daniloas.png" alt="Logo Exemplo">
					</a>
				</div>
				<div class="socialmidia">
					<a href="https://www.instagram.com/daniloas.com_/" class="fa fa-instagram"></a>
					<a href="https://www.linkedin.com/in/daniloandradesantos/" class="fa fa-linkedin"></a>
					<a href="https://www.youtube.com/@daniloas.com_" class="fa fa-youtube"></a>
					<a href="https://github.com/daniloasdotcom" class="fa fa-github" style="color:white"></a>
					<a href="https://daniloas.com/" class="fa fa-globe" style="color:white"></a>
					<!-- Adicione mais redes sociais aqui, se desejar -->
				</div>
				<div class="col-md-6">
					<p>©2023 Danilo Andrade. Todos os direitos reservados.</p>
				</div>
			</div>
		</div>
	</footer>
	<script>
		var coll = document.getElementsByClassName("collapsiblemenu");
		var i;

		for (i = 0; i < coll.length; i++) {
			coll[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var content = this.nextElementSibling;
				if (content.style.display === "block") {
					content.style.display = "none";
				} else {
					content.style.display = "block";
				}
			});
		}
	</script>

	<script>
		var coll = document.getElementsByClassName("collapsible");
		var i;

		for (i = 0; i < coll.length; i++) {
			coll[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var content = this.nextElementSibling;
				if (content.style.display === "block") {
					content.style.display = "none";
				} else {
					content.style.display = "block";
				}
			});
		}
	</script>
	<script>
		var coll = document.getElementsByClassName("collapsible-conclude");
		var i;
	
		for (i = 0; i < coll.length; i++) {
			coll[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var content = this.nextElementSibling;
				if (content.style.display === "block") {
					content.style.display = "none";
				} else {
					content.style.display = "block";
				}
			});
		}
	</script>


</body>


</html>
