<!DOCTYPE html>
<html lang="pt-br">

</html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Bioquímica</title>
    <link href="{{"css/style.css" | relative_url}}" rel="stylesheet">
    <script src="./main.js"></script>
</head>

<body>
	<header>
        <div>
            {% include navbar.html %}
        </div>
    </header>
	<div class="margem" align="justify">
		<br></br>
		<h2 style="color: #FFFFFF" align="left">Cronograma de aulas - Licenciatura</h2>
		<button type="button" class="collapsible"><s>Semana 01 - 14/08 - 18/08 - Concluído</s></button>
		<div class="content">
			<ul>
				<li><b><s>14/08 - 2ª feira</s></b></li>
				<ul>
					<li><s>Sem aula</s></li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible"><s>Semana 02 - 21/08 - 25/08 - Concluído</s></button>
		<div class="content">
			<ul>
				<li><b><s>21/08 - 2ª feira</s></b></li>
				<ul>
					<li><s>Apresentação da disciplina</s></li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible"><s>Semana 03 - 28/08 - 01/09 - Concluído</s></button>
		<div class="content">
			<ul>
				<li><b><s>28/08 - 2ª feira</s></b></li>
				<ul>
					<li><s>Introdução a bioquímica</s></li>
				</ul>
			</ul>
		</div>
		<br></br>
		
		<button type="button" class="collapsible"><s>Semana 04 - 04/09 - 08/09 - Concluído</s></button>
		<div class="content">
			<ul>
				<li><b><s>04/09 - 2ª feira</s></b></li>
				<ul>
					<li><s>Sem aula</s></li>
				</ul>
			</ul>
		</div>
		<br></br>
		
		<button type="button" class="collapsible"><s>Semana 05 - 11/09 - 15/09 - Concluído</s></button>
		<div class="content">
			<ul>
				<li><b><s>11/09 - 2ª feira</s></b></li>
				<ul>
					<li><s>Carboidratos Parte I</s></li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible"><s>Semana 06 - 18/09 - 22/09 - Concluído</s></button>
		<div class="content">
			<ul>
				<li><b><s>18/09 - 2ª feira</s></b></li>
				<ul>
					<li><s>Carboidratos Parte II</s></li>
				</ul>
			</ul>
		</div>
		<br></br>
		<!--
		<button type="button" class="collapsible">Semana 07 - 25/09 - 29/09</button>
		<div class="content">
			<ul>
				<li><b>25/09 - 2ª feira</b></li>
				<ul>
					<li>05ª Prática - Caracterização de Carboidratos II</li>
				</ul>
				<li><b>27/09 - 4ª feira</b></li>
				<ul>
					<li>06ª Teórica - Respiração celular: Cadeia Respiratória</li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible">Semana 08 - 02/10 - 06/10</button>
		<div class="content">
			<ul>
				<li><b>02/10 - 2ª feira</b></li>
				<ul>
					<li>06ª Prática - Hidrólise do Amido</li>
				</ul>
				<li><b>04/10 - 4ª feira</b></li>
				<ul>
					<li>07ª Teórica - Vias fermentativas</li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible">Semana 09 - 09/05 - 13/10</button>
		<div class="content">
			<ul>
				<li><b>09/10 - 2ª feira</b></li>
				<ul>
					<li>Sem aula prática</li>
				</ul>
				<li><b>11/10 - 4ª feira</b></li>
				<ul>
					<li>Sem aula teórica</li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible">Semana 10 - 16/10 - 20/10</button>
		<div class="content">
			<ul>
				<li><b>16/10 - 2ª feira</b></li>
				<ul>
					<li>07ª Prática - Saponificação de Triglicérides</li>
				</ul>
				<li><b>18/10 - 4ª feira</b></li>
				<ul>
					<li>08ª Teórica - Gliconeogênese</li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible">Semana 11 - 23/10 - 27/10</button>
		<div class="content">
			<ul>
				<li><b>23/05 - 2ª feira</b></li>
				<ul>
					<li>08ª Prática - Titulação Potenciométrica de Aminoácidos</s></li>
				</ul>
				<li><b>25/05 - 4ª feira</b></li>
				<ul>
					<li>09ª Teórica - Metabolismo do Glicogênio</li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible">Semana 12 - 30/10 - 03/11</button>
		<div class="content">
			<ul>
				<li><b>30/10 - 2ª feira</b></li>
				<ul>
					<li>Sem aula prática</li>
				</ul>
				<li><b>03/11 - 4ª feira</b></li>
				<ul>
					<li>10ª Teórica - Via das Pentoses Fosfato</li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible"><s>Semana 13 - 12/06 - 16/06 - Concluído</s></button>
		<div class="content">
			<ul>
				<li><b><s>12/06 - 2ª feira</s></b></li>
				<ul>
					<li><s>Teórica para AG1/AG2 - Metabolismo do Glicogênio</s></li>
				</ul>
				<li><b><s>13/06 - 3ª feira</s></b></li>
				<ul>
					<li><s>Prática para AG1/AG2 - Solubilização de Proteinas</s></li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible"><s>Semana 14 - 19/06 - 23/06 - Concluído</s></button>
		<div class="content">
			<ul>
				<li><b><s>19/06 - 2ª feira</s></b></li>
				<ul>
					<li><s>Teórica para AG1/AG2 -  Via das Pentoses Fosfato</s></li>
				</ul>
				<li><b><s>20/06 - 3ª feira</s></b></li>
				<ul>
					<li><s>Prática para AG1/AG2 - Quantificação de Proteínas</s></li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible"><s>Semana 15 - 26/06 - 30/06 - Concluído</s></button>
		<div class="content">
			<ul>
				<li><b><s>26/06 - 2ª feira</s></b></li>
				<ul>
					<li><s>Teórica para AG1/AG2 - Introdução a Lipídios</s></li>
				</ul>
				<li><b><s>27/06 - 3ª feira</s></b></li>
				<ul>
					<li><s>Prática para AG1/AG2</s></li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible">Semana 16 - 03/07 - 07/07</button>
		<div class="content">
			<ul>
				<li><b>03/07 - 2ª feira</b></li>
				<ul>
					<li>Teórica para AG1/AG2 - Metabolismo de Lipídios</li>
				</ul>
				<li><b>04/07 - 3ª feira</b></li>
				<ul>
					<li>Prática para AG1/AG2 - Titulação Potenciométrica</li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible">Semana 17 - 10/07 - 14/07</button>
		<div class="content">
			<ul>
				<li><b>10/07 - 2ª feira</b></li>
				<ul>
					<li>Teórica para AG1/AG2 - Metabolismo de aminoácidos e Ciclo da Ureia<li>
				</ul>
				<li><b>11/07 - 3ª feira</b></li>
				<ul>
					<li>Prática para AG1/AG2</li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible">Semana 18 - 17/07 - 21/07</button>
		<div class="content">
			<ul>
				<li><b>17/07 - 2ª feira</b></li>
				<ul>
					<li>Teórica para AG1/AG2 - Fotossíntese e Quimiossíntese - Assincrona</li>
				</ul>
				<li><b>18/07 - 3ª feira</b></li>
				<ul>
					<li>Prática para AG1/AG2</li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible">Semana 19 - 24/07 - 28/07</button>
		<div class="content">
			<ul>
				<li><b>24/07 - 2ª feira</b></li>
				<ul>
					<li>Semana de Provas Finais</li>
				</ul>
				<li><b>25/07 - 3ª feira</b></li>
				<ul>
					<li>Prática para AG1/AG2</li>
				</ul>
			</ul>
		</div>
		<br></br>
	</div>
	-->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>Desenvolvido por:</p>
				</div>
				<div class="col-md-6">
					<a href="https://daniloas.com/" target="_blank">
						<img src="./assets/daniloas.png" alt="Logo Exemplo">
					</a>
				</div>
				<div class="socialmidia">
					<a href="https://www.instagram.com/daniloas.com_/" class="fa fa-instagram"></a>
					<a href="https://www.linkedin.com/in/daniloandradesantos/" class="fa fa-linkedin"></a>
					<a href="https://www.youtube.com/@daniloas.com_" class="fa fa-youtube"></a>
                    <a href="https://github.com/daniloasdotcom" class="fa fa-github" style="color:white"></a>
					<!-- Adicione mais redes sociais aqui, se desejar -->
				</div>
				<div class="col-md-6">
					<p>©2023 Danilo Andrade. Todos os direitos reservados.</p>
				</div>
			</div>
		</div>
	</footer>
	<script>
		var coll = document.getElementsByClassName("collapsiblemenu");
		var i;

		for (i = 0; i < coll.length; i++) {
			coll[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var content = this.nextElementSibling;
				if (content.style.display === "block") {
					content.style.display = "none";
				} else {
					content.style.display = "block";
				}
			});
		}
	</script>

	<script>
		var coll = document.getElementsByClassName("collapsible");
		var i;

		for (i = 0; i < coll.length; i++) {
			coll[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var content = this.nextElementSibling;
				if (content.style.display === "block") {
					content.style.display = "none";
				} else {
					content.style.display = "block";
				}
			});
		}
	</script>
</body>


</html>
