<!DOCTYPE html>
<html lang="pt-br">

</html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Bioquímica</title>
	<link href="{{"css/style.css" | relative_url}}" rel="stylesheet">
	<script src="./main.js"></script>
</head>

<body>
	<header>
        <div>
            {% include navbar.html %}
        </div>
    </header>
	<div class="margem" align="justify">
		<br></br>
		<h2 style="color: #FFFFFF" align="left">Cronograma de aulas - BB1/BB2</h2>
		<button type="button" class="collapsible"><s>Semana 01 - 14/08 - 18/08 - Concluído</s></button>
		<div class="content">
			<ul>
				<li><b><s>14/08 - 2ª feira</s></b></li>
				<ul>
					<li><s>Sem aula prática</s></li>
				</ul>
				<li><b><s>16/08 - 4ª feira</s></b></li>
				<ul>
					<li><s>01ª Teórica - Introdução à bioenergética e bioquímica</s></li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible"><s>Semana 02 - 21/08 - 25/08 - Concluído</s></button>
		<div class="content">
			<ul>
				<li><b><s>21/08 - 2ª feira</s></b></li>
				<ul>
					<li><s>Sem aula prática</s></li>
				</ul>
				<li><b><s>23/08 - 4ª feira</s></b></li>
				<ul>
					<li><s>02ª Teórica - Introdução à bioenergética e bioquímica</s></li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible"><s>Semana 03 - 28/08 - 01/09 - Concluído</s></button>
		<div class="content">
			<ul>
				<li><b><s>28/08 - 2ª feira</s></b></li>
				<ul>
					<li><s>01ª Prática - Cuidados no Laboratório</s></li>
				</ul>
				<li><b><s>30/08 - 4ª feira</s></b></li>
				<ul>
					<li><s>03ª Teórica - Carboidratos</s></li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible"><s>Semana 04 - 04/09 - 08/09 - Concluído</s></button>
		<div class="content">
			<ul>
				<li><b><s>04/09 - 2ª feira</s></b></li>
				<ul>
					<li><s>02ª Prática - Técnicas de Laboratório</s></li>
				</ul>
				<li><b><s>06/09 - 4ª feira</s></b></li>
				<ul>
					<li><s>Sem aula teórica</s></li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible"><s>Semana 05 - 11/09 - 15/09 - Concluído</s></button>
		<div class="content">
			<ul>
				<li><b><s>11/09 - 2ª feira</s></b></li>
				<ul>
					<li><s>Sem aula prática</s></li>
				</ul>
				<li><b><s>13/09 - 4ª feira</s></b></li>
				<ul>
					<li><s>04ª Teórica -  Respiração celular: Glicólise</s></li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible"><s>Semana 06 - 18/09 - 22/09 - Concluído</s></button>
		<div class="content">
			<ul>
				<li><b><s>18/09 - 2ª feira</s></b></li>
				<ul>
					<li><s>Sem pratica</s></li>
				</ul>
				<li><b><s>20/09 - 4ª feira</s></b></li>
				<ul>
					<li><s>05ª Teórica - Respiração celular: Oxidação do Piruvato e Ciclo de Krebs</s></li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible">Semana 07 - 25/09 - 29/09</button>
		<div class="content">
			<ul>
				<li><b>25/09 - 2ª feira</b></li>
				<ul>
					<li>04ª Prática - Caracterização de Carboidratos I</li>
				</ul>
				<li><b>27/09 - 4ª feira</b></li>
				<ul>
					<li>06ª Teórica - Respiração celular: Cadeia Respiratória</li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible">Semana 08 - 02/10 - 06/10</button>
		<div class="content">
			<ul>
				<li><b>02/10 - 2ª feira</b></li>
				<ul>
					<li>05ª Prática - Caracterização de Carboidratos II</li>
				</ul>
				<li><b>04/10 - 4ª feira</b></li>
				<ul>
					<li>07ª Teórica - Vias fermentativas</li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible">Semana 09 - 09/05 - 13/10</button>
		<div class="content">
			<ul>
				<li><b>09/10 - 2ª feira</b></li>
				<ul>
					<li>Sem aula prática</li>
				</ul>
				<li><b>11/10 - 4ª feira</b></li>
				<ul>
					<li>Sem aula teórica</li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible">Semana 10 - 16/10 - 20/10</button>
		<div class="content">
			<ul>
				<li><b>16/10 - 2ª feira</b></li>
				<ul>
					<li>Sem aula prática</li>
				</ul>
				<li><b>18/10 - 4ª feira</b></li>
				<ul>
					<li>08ª Teórica - Gliconeogênese</li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible">Semana 11 - 23/10 - 27/10</button>
		<div class="content">
			<ul>
				<li><b>23/05 - 2ª feira</b></li>
				<ul>
					<li>06ª Prática - Hidrólise do Amido</s></li>
				</ul>
				<li><b>25/05 - 4ª feira</b></li>
				<ul>
					<li>09ª Teórica - Metabolismo do Glicogênio</li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible">Semana 12 - 30/10 - 03/11</button>
		<div class="content">
			<ul>
				<li><b>30/10 - 2ª feira</b></li>
				<ul>
					<li>07ª Prática - Saponificação de Triglicérideos</li>
				</ul>
				<li><b>03/11 - 4ª feira</b></li>
				<ul>
					<li>10ª Teórica - Via das Pentoses Fosfato</li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible">Semana 13 - 06/11 - 10/11</button>
		<div class="content">
			<ul>
				<li><b>06/11 - 2ª feira</b></li>
				<ul>
					<li>Sem aula prática</s></li>
				</ul>
				<li><b>08/11 - 4ª feira</b></li>
				<ul>
					<li>11ª Teórica - Introdução aos Lipídios</li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible">Semana 14 - 13/11 - 17/11</button>
		<div class="content">
			<ul>
				<li><b>13/11 - 2ª feira</b></li>
				<ul>
					<li>08ª Prática - Titulação Potenciométrica de Aminoácidos</s></li>
				</ul>
				<li><b>15/11 - 4ª feira</b></li>
				<ul>
					<li>Sem aula teórica</li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible">Semana 15 - 20/11 - 24/11</button>
		<div class="content">
			<ul>
				<li><b>20/11 - 2ª feira</b></li>
				<ul>
					<li>Sem aula prática</li>
				</ul>
				<li><b>22/11 - 4ª feira</b></li>
				<ul>
					<li>12ª Teórica - Catabolismos de ácidos graxos</li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible">Semana 16 - 27/11 - 01/12</button>
		<div class="content">
			<ul>
				<li><b>27/11 - 2ª feira</b></li>
				<ul>
					<li>09ª Prática - Solubilidade de Proteínas</li>
				</ul>
				<li><b>29/11 - 4ª feira</b></li>
				<ul>
					<li>13ª Teórica - Sintese de ácidos graxos</li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible">Semana 17 - 04/12 - 08/12</button>
		<div class="content">
			<ul>
				<li><b>04/12 - 2ª feira</b></li>
				<ul>
					<li>10ª Prática - Quantificação de Proteínas</li>
				</ul>
				<li><b>06/12 - 4ª feira</b></li>
				<ul>
					<li>Teórica - Metabolismo de Aminoácidos e Ciclo da Ureia<li>
				</ul>
			</ul>
		</div>
		<br></br>
		<button type="button" class="collapsible">Semana 18 - 11/12 - 15/12</button>
		<div class="content">
			<ul>
				<li><b>11/12 - 2ª feira</b></li>
				<ul>
					<li>Sem aula prática</li>
				</ul>
				<li><b>15/12 - 4ª feira</b></li>
				<ul>
					<li>Teórica -Fotossíntese e quimiossíntese<li>
				</ul>
			</ul>
		</div>
		<br></br>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>Desenvolvido por:</p>
				</div>
				<div class="col-md-6">
					<a href="https://daniloas.com/" target="_blank">
						<img src="./assets/daniloas.png" alt="Logo Exemplo">
					</a>
				</div>
				<div class="socialmidia">
					<a href="https://www.instagram.com/daniloas.com_/" class="fa fa-instagram"></a>
					<a href="https://www.linkedin.com/in/daniloandradesantos/" class="fa fa-linkedin"></a>
					<a href="https://www.youtube.com/@daniloas.com_" class="fa fa-youtube"></a>
					<a href="https://github.com/daniloasdotcom" class="fa fa-github" style="color:white"></a>
					<!-- Adicione mais redes sociais aqui, se desejar -->
				</div>
				<div class="col-md-6">
					<p>©2023 Danilo Andrade. Todos os direitos reservados.</p>
				</div>
			</div>
		</div>
	</footer>
	<script>
		var coll = document.getElementsByClassName("collapsiblemenu");
		var i;

		for (i = 0; i < coll.length; i++) {
			coll[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var content = this.nextElementSibling;
				if (content.style.display === "block") {
					content.style.display = "none";
				} else {
					content.style.display = "block";
				}
			});
		}
	</script>

	<script>
		var coll = document.getElementsByClassName("collapsible");
		var i;

		for (i = 0; i < coll.length; i++) {
			coll[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var content = this.nextElementSibling;
				if (content.style.display === "block") {
					content.style.display = "none";
				} else {
					content.style.display = "block";
				}
			});
		}
	</script>
</body>


</html>
