<!DOCTYPE html>
<html lang="pt-br">

</html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Bioquímica</title>
    <link href="{{"css/style.css" | relative_url}}" rel="stylesheet">
    <script src="./main.js"></script>
</head>

<body>
	<header>
        <div>
            {% include navbar.html %}
        </div>
    </header>

	<div class="margem">
		<h1 style="color: #FFFFFF">Quiz - Fermentação Lática e Etílica</h1>
		<form>
			<fieldset>
				<legend>1 - O que é fermentação alcoólica?</legend>
				<label><input type="radio" name="pergunta1" value="a">A) O processo de produção de álcool a partir da
					quebra da glicose</label>
				<label><input type="radio" name="pergunta1" value="b">B) A conversão de álcool em ácido lático</label>
				<label><input type="radio" name="pergunta1" value="c">C) A produção de energia a partir de
					aminoácidos</label>
				<label><input type="radio" name="pergunta1" value="d">D) A transformação de álcool em glicose</label>
				<button type="button" onclick="checkAnswer(1)">Verificar resposta</button>
				<div id="result-p1"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>2 - Qual é o principal produto da fermentação alcoólica?</legend>
				<label><input type="radio" name="pergunta2" value="a">A) Ácido lático</label>
				<label><input type="radio" name="pergunta2" value="b">B) Glicose</label>
				<label><input type="radio" name="pergunta2" value="c">C) Álcool etílico</label>
				<label><input type="radio" name="pergunta2" value="d">D) Aminoácidos</label>
				<button type="button" onclick="checkAnswer(2)">Verificar resposta</button>
				<div id="result-p2"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>3 - Quais são os microrganismos responsáveis pela fermentação alcoólica?</legend>
				<label><input type="radio" name="pergunta3" value="a">A) Bactérias</label>
				<label><input type="radio" name="pergunta3" value="b">B) Vírus</label>
				<label><input type="radio" name="pergunta3" value="c">C) Fungos</label>
				<label><input type="radio" name="pergunta3" value="d">D) Algas</label>
				<button type="button" onclick="checkAnswer(3)">Verificar resposta</button>
				<div id="result-p3"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>4 - O que é fermentação láctica?</legend>
				<label><input type="radio" name="pergunta4" value="a">A) O processo de produção de ácido láctico a
					partir da quebra da glicose</label>
				<label><input type="radio" name="pergunta4" value="b">B) A conversão de glicose em álcool
					etílico</label>
				<label><input type="radio" name="pergunta4" value="c">C) A produção de energia a partir de
					aminoácidos</label>
				<label><input type="radio" name="pergunta4" value="d">D) A transformação de ácido lático em
					glicose</label>
				<button type="button" onclick="checkAnswer(4)">Verificar resposta</button>
				<div id="result-p4"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>5 - Qual é o principal produto da fermentação láctica?</legend>
				<label><input type="radio" name="pergunta5" value="a">A) Álcool etílico</label>
				<label><input type="radio" name="pergunta5" value="b">B) Glicose</label>
				<label><input type="radio" name="pergunta5" value="c">C) Ácido lático</label>
				<label><input type="radio" name="pergunta5" value="d">D) Aminoácidos</label>
				<button type="button" onclick="checkAnswer(5)">Verificar resposta</button>
				<div id="result-p5"></div>
			</fieldset>
			<br></br>
		</form>
	</div>
	<script>
		function checkAnswer(questionNumber) {
			var radios = document.getElementsByName("pergunta" + questionNumber);
			var resultDiv = document.getElementById("result-p" + questionNumber);
			var selectedValue = null;

			for (var i = 0; i < radios.length; i++) {
				if (radios[i].checked) {
					selectedValue = radios[i].value;
					break;
				}
			}

			if (selectedValue === null) {
				resultDiv.innerHTML = "Por favor, selecione uma resposta.";
				resultDiv.className = "without-aswer";
			} else if (selectedValue === "a" && questionNumber === 1) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "c" && questionNumber === 2) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "a" && questionNumber === 3) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "a" && questionNumber === 4) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "c" && questionNumber === 5) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else {
				resultDiv.innerHTML = "Resposta incorreta. Tente novamente.";
				resultDiv.className = "result-incorrect";
			}
		}
	</script>
	<br></br>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>Desenvolvido por:</p>
				</div>
				<div class="col-md-6">
					<a href="https://daniloas.com/" target="_blank">
						<img src="./assets/daniloas.png" alt="Logo Exemplo">
					</a>
				</div>
				<div class="socialmidia">
					<a href="https://www.instagram.com/daniloas.com_/" class="fa fa-instagram"></a>
					<a href="https://www.linkedin.com/in/daniloandradesantos/" class="fa fa-linkedin"></a>
					<a href="https://www.youtube.com/@daniloas.com_" class="fa fa-youtube"></a>
					<a href="https://github.com/daniloasdotcom" class="fa fa-github" style="color:white"></a>
					<a href="https://daniloas.com/" class="fa fa-globe" style="color:white"></a>
					<!-- Adicione mais redes sociais aqui, se desejar -->
				</div>
				<div class="col-md-6">
					<p>©2023 Danilo Andrade. Todos os direitos reservados.</p>
				</div>
			</div>
		</div>
	</footer>
	<script>
		var coll = document.getElementsByClassName("collapsiblemenu");
		var i;

		for (i = 0; i < coll.length; i++) {
			coll[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var content = this.nextElementSibling;
				if (content.style.display === "block") {
					content.style.display = "none";
				} else {
					content.style.display = "block";
				}
			});
		}
	</script>
</body>

</html>