<!DOCTYPE html>
<html lang="pt-br">

</html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Bioquímica</title>
    <link href="{{"css/style.css" | relative_url}}" rel="stylesheet">
    <script src="./main.js"></script>
</head>

<body>
	<header>
        <div>
            {% include navbar.html %}
        </div>
    </header>

	<div class="margem">
		<h1 style="color: #FFFFFF">Quiz - Gliconeogênese</h1>
		<form>
			<fieldset>
				<legend>1 - O que é gliconeogênese?</legend>
				<label><input type="radio" name="pergunta1" value="a">A) A produção de glicose a partir de
					intermediários metabólicos não glicídicos</label>
				<label><input type="radio" name="pergunta1" value="b">B) A conversão de glicose em glicogênio</label>
				<label><input type="radio" name="pergunta1" value="c">C) A produção de enérgia a partir de
					aminoácidos</label>
				<label><input type="radio" name="pergunta1" value="d">D) A quebra de glicose para obtenção de
					energia</label>
				<button type="button" onclick="checkAnswer(1)">Verificar resposta</button>
				<div id="result-p1"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>2 - Qual é a importância da gliconeogênese para o organismo?</legend>
				<label><input type="radio" name="pergunta2" value="a">A) Manter os níveis adequados de glicose no sangue
					durante períodos de jejum ou baixa disponibilidade de carboidratos</label>
				<label><input type="radio" name="pergunta2" value="b">B) Sintetizar proteínas a partir de
					aminoácidos</label>
				<label><input type="radio" name="pergunta2" value="c">C) Armazenar glicose na forma de
					glicogênio</label>
				<label><input type="radio" name="pergunta2" value="d">D) Produzir energia na forma de ATP</label>
				<button type="button" onclick="checkAnswer(2)">Verificar resposta</button>
				<div id="result-p2"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>3 - Quais são os principais precursores utilizados na gliconeogênese?</legend>
				<label><input type="radio" name="pergunta3" value="a">A) Ácidos graxos, nucleotídeos e frutose</label>
				<label><input type="radio" name="pergunta3" value="b">B) Aminoácidos, lactato e glicerol</label>
				<label><input type="radio" name="pergunta3" value="c">C) Glicogênio, ácido pirúvico e glicerina</label>
				<label><input type="radio" name="pergunta3" value="d">D) Glicogênio, colesterol e lactose</label>
				<button type="button" onclick="checkAnswer(3)">Verificar resposta</button>
				<div id="result-p3"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>4 - Durante períodos de jejum prolongado, qual tecido é o principal produtor de glicose pela
					gliconeogênese?</legend>
				<label><input type="radio" name="pergunta4" value="a">A) Músculos</label>
				<label><input type="radio" name="pergunta4" value="b">B) Tecido adiposo</label>
				<label><input type="radio" name="pergunta4" value="c">C) Fígado</label>
				<label><input type="radio" name="pergunta4" value="d">D) Rins</label>
				<button type="button" onclick="checkAnswer(4)">Verificar resposta</button>
				<div id="result-p4"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>5 - Quais hormônios estão envolvidos diretamente na regulação da gliconeogênese?</legend>
				<label><input type="radio" name="pergunta5" value="a">A) Estrogênio e progesterona</label>
				<label><input type="radio" name="pergunta5" value="b">B) Testosterona e adrenalina</label>
				<label><input type="radio" name="pergunta5" value="c">C) Insulina e glucagon</label>
				<label><input type="radio" name="pergunta5" value="d">D) Prolactina e melatonina</label>
				<button type="button" onclick="checkAnswer(5)">Verificar resposta</button>
				<div id="result-p5"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>6 - Quanto a gliconeogênese, analise as informações a seguir e atribua (V) verdadeiro ou (F)
					falso:</legend>
				<legend>(__) - A gliconeogênese ocorre quando não há disponibilidade de glicose na alimentação ou quando
					as reservas de glicogênio estão exauridas;</legend>
				<legend>(__) - Na gliconeogênese, precursores como o lactato piruvato e alguns aminoácidos são
					convertidos em oxaloacetato;</legend>
				<legend>(__) - Ácidos graxos podem ser substratos para a gliconeogênese;</legend>
				<legend>(__) - As reações da gliconeogênese ocorrem na mitocôndria.</legend>
				<label><input type="radio" name="pergunta6" value="a">A) F, V, F, V</label>
				<label><input type="radio" name="pergunta6" value="b">B) V, V, F, F.</label>
				<label><input type="radio" name="pergunta6" value="c">C) F, F, V, F.</label>
				<label><input type="radio" name="pergunta6" value="d">D) V, F, V, V.</label>
				<button type="button" onclick="checkAnswer(6)">Verificar resposta</button>
				<div id="result-p6"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>7 - Assinale a alternativa correta sobre a gliconeogênese. </legend>
				<label><input type="radio" name="pergunta7" value="a">A) A via da gliconeogênese é dispendiosa para a
					célula pois requer 4 ATP, 2 GTP e 2 NADH</label>
				<label><input type="radio" name="pergunta7" value="b">B) A gliconeogênese ocorre em momentos de alta
					demanda energética, no qual os níveis de glicose e glucagon estão aumentados no sangue</label>
				<label><input type="radio" name="pergunta7" value="c">C) Na gliconeogênese, a reação de
					fosfoenolpiruvato à piruvato é reversível e é graças a essas reações reversíveis que a
					gliconeogênese é viável, caso contrário não aconteceria.</label>
				<label><input type="radio" name="pergunta7" value="d">D) Os único precurso da gliconeogênese são
					aminoácidos, principalmente a Leucina.</label>
				<button type="button" onclick="checkAnswer(7)">Verificar resposta</button>
				<div id="result-p7"></div>
			</fieldset>
			
			<h1 style="color: #FFFFFF">Questões de foco para a turma do curso de Nutrição</h1>
			<br></br>
			<fieldset>
				<legend>8 - Um menino de 4 meses está sendo avaliado quanto a convulsões, retardo psicomotor e hipotonia. A investigação revela níveis séricos elevados de lactato, alanina, piruvato e ceoácidos. Com base na apresentação clínica, a atividade da piruvato carboxilase é medida usando fibroblastos de uma biópsia de pele e encontra-se acentuadamente diminuída. Esta enzima é normalmente usada para sintetizar diretamente qual das seguintes moléculas?</legend>
				<label><input type="radio" name="pergunta8" value="a">A) Piruvato</label>
				<label><input type="radio" name="pergunta8" value="b">B) Oxaloacetato</label>
				<label><input type="radio" name="pergunta8" value="c">C) Malato</label>
				<label><input type="radio" name="pergunta8" value="d">D) Acetil-CoA</label>
				<button type="button" onclick="checkAnswer(8)">Verificar resposta</button>
				<div id="result-p8"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>9 - Um homem de 56 anos, obeso, queixa-se de polidipsia, poliúria e fadiga. Um teste de tolerância à glicose confirma o diagnóstico de diabetes. Ele recebe metformina, que funciona por qual dos seguintes mecanismos? </legend>
				<label><input type="radio" name="pergunta9" value="a">A) Inibição da gliconeogênese hepática</label>
				<label><input type="radio" name="pergunta9" value="b">B) Aumentar o nível de glucagon</label>
				<label><input type="radio" name="pergunta9" value="c">C) Aumentar a responsividade celular à insulina circulante</label>
				<label><input type="radio" name="pergunta9" value="d">D) Substituir a necessidade de insulina endógena</label>
				<button type="button" onclick="checkAnswer(9)">Verificar resposta</button>
				<div id="result-p9"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>10 - Em humanos, a gliconeogênese:</legend>
				<label><input type="radio" name="pergunta10" value="a">A) Pode resultar na conversão de proteínas em glicose sanguínea.</label>
				<label><input type="radio" name="pergunta10" value="b">B) Ajuda a reduzir a glicemia após uma refeição rica em carboidratos</label>
				<label><input type="radio" name="pergunta10" value="c">C) É essencial na conversão de ácidos graxos em glicose.</label>
				<label><input type="radio" name="pergunta10" value="d">D) Requer a enzima hexoquinase</label>
				<button type="button" onclick="checkAnswer(10)">Verificar resposta</button>
				<div id="result-p10"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>11 - Um fisiculturista de 32 anos decidiu seguir uma dieta que consiste em clara de ovo para garantir apenas proteínas para o crescimento muscular. Depois de algumas semanas, ele apresenta diminuição da energia e é diagnosticado como hipoglicêmico. Uma nutricionista diz ao paciente que ele provavelmente tem deficiência de vitamina Biotina. Qual das seguintes enzimas é incapaz de catalisar sua etapa na síntese de glicose a partir do piruvato?</legend>
				<label><input type="radio" name="pergunta11" value="a">A) Piruvato carboxilase</label>
				<label><input type="radio" name="pergunta11" value="b">B) Fosfenolpiruvato carboxiquinase</label>
				<label><input type="radio" name="pergunta11" value="c">C) Glicose-6-fosfatase</label>
				<label><input type="radio" name="pergunta11" value="d">D) Fosfoglicerato quinase</label>
				<button type="button" onclick="checkAnswer(11)">Verificar resposta</button>
				<div id="result-p11"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>12 - Um menino de 8 anos apresenta episódios frequentes de fraqueza, acompanhados de sudorese e sensação de tontura. O exame físico é notável por fígado e rins palpavelmente aumentados. A bioquímica sanguínea revela acidemia láctica. O paciente é diagnosticado com deficiência de glicose-6-fosfatase, que normalmente é expressa apenas no:</legend>
				<label><input type="radio" name="pergunta12" value="a">A) Fígado e músculo</label>
				<label><input type="radio" name="pergunta12" value="b">B) Fígado e cérebro</label>
				<label><input type="radio" name="pergunta12" value="c">C) Fígado e tecido adiposo</label>
				<label><input type="radio" name="pergunta12" value="d">D) Fígado e rim</label>
				<button type="button" onclick="checkAnswer(12)">Verificar resposta</button>
				<div id="result-p12"></div>
			</fieldset>
			<br></br>
			<fieldset>
				<legend>13 - Um menino de 6 anos começa a jogar futebol em uma liga comunitária. Após o primeiro jogo do ano, ele é levado ao pediatra por causa de fortes cãibras musculares e sangue na urina. Posteriormente, descobriu-se que ele tinha deficiência de lactato desidrogenase. Essa enzima é importante em qual das seguintes conversões?</legend>
				<label><input type="radio" name="pergunta13" value="a">A) Piruvato para Acetil-CoA</label>
				<label><input type="radio" name="pergunta13" value="b">B) Piruvato para Oxaloacetato</label>
				<label><input type="radio" name="pergunta13" value="c">C) Piruvato a lactato</label>
				<label><input type="radio" name="pergunta13" value="d">D) Piruvato a Alanina</label>
				<button type="button" onclick="checkAnswer(13)">Verificar resposta</button>
				<div id="result-p13"></div>
			</fieldset>
			<br></br>-->
		</form>
	</div>
	<script>
		function checkAnswer(questionNumber) {
			var radios = document.getElementsByName("pergunta" + questionNumber);
			var resultDiv = document.getElementById("result-p" + questionNumber);
			var selectedValue = null;

			for (var i = 0; i < radios.length; i++) {
				if (radios[i].checked) {
					selectedValue = radios[i].value;
					break;
				}
			}

			if (selectedValue === null) {
				resultDiv.innerHTML = "Por favor, selecione uma resposta.";
				resultDiv.className = "without-aswer";
			} else if (selectedValue === "a" && questionNumber === 1) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "a" && questionNumber === 2) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "b" && questionNumber === 3) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "c" && questionNumber === 4) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "c" && questionNumber === 5) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "b" && questionNumber === 6) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "a" && questionNumber === 7) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "b" && questionNumber === 8) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "a" && questionNumber === 9) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "a" && questionNumber === 10) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "a" && questionNumber === 11) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "d" && questionNumber === 12) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			} else if (selectedValue === "c" && questionNumber === 13) {
				resultDiv.innerHTML = "Resposta correta!";
				resultDiv.className = "result-correct";
			}  else {
				resultDiv.innerHTML = "Resposta incorreta. Tente novamente.";
				resultDiv.className = "result-incorrect";
			}
		}
	</script>
	<br></br>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>Desenvolvido por:</p>
				</div>
				<div class="col-md-6">
					<a href="https://daniloas.com/" target="_blank">
						<img src="./assets/daniloas.png" alt="Logo Exemplo">
					</a>
				</div>
				<div class="socialmidia">
					<a href="https://www.instagram.com/daniloas.com_/" class="fa fa-instagram"></a>
					<a href="https://www.linkedin.com/in/daniloandradesantos/" class="fa fa-linkedin"></a>
					<a href="https://www.youtube.com/@daniloas.com_" class="fa fa-youtube"></a>
					<a href="https://github.com/daniloasdotcom" class="fa fa-github" style="color:white"></a>
					<a href="https://daniloas.com/" class="fa fa-globe" style="color:white"></a>
					<!-- Adicione mais redes sociais aqui, se desejar -->
				</div>
				<div class="col-md-6">
					<p>©2023 Danilo Andrade. Todos os direitos reservados.</p>
				</div>
			</div>
		</div>
	</footer>
	<script>
		var coll = document.getElementsByClassName("collapsiblemenu");
		var i;

		for (i = 0; i < coll.length; i++) {
			coll[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var content = this.nextElementSibling;
				if (content.style.display === "block") {
					content.style.display = "none";
				} else {
					content.style.display = "block";
				}
			});
		}
	</script>
</body>

</html>