<!DOCTYPE html>
<html lang="pt-br">

</html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Bioquímica</title>
    <link href="{{"css/style.css" | relative_url}}" rel="stylesheet">
    <script src="./main.js"></script>
</head>

<body>
    <header>
        <div>
            {% include navbar.html %}
        </div>
    </header>
    <br></br>
    <center>
        <h1 style="color: white">Contagem de Presenças e Ausências em Aula</h1>
        <h1 style="color: white">Nutrição</h1>
    </center>
    <div style="overflow-x:auto;">
        <table>
            <thead>
                <tr>
                    <th>nº</th>
                    <th>Matrícula</th>
                    <th style="background-color: grey;">Faltas</th>
                    <th>13/03</th>
                    <th>15/03</th>
                    <th>20/03</th>
                    <th>22/03</th>
                    <tr>
                        <th>1</th>
                        <th>2024103257</th>
                        <th style=background-color:grey>5</th>
                        <th>F</th>
                        <th>F</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>2</th>
                        <th>2024103275</th>
                        <th style=background-color:grey>5</th>
                        <th>F</th>
                        <th>F</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>3</th>
                        <th>2024101984</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>4</th>
                        <th></th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>5</th>
                        <th>2024101981</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>6</th>
                        <th>2024103261</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>7</th>
                        <th>2024103254</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>8</th>
                        <th>2024103276</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>9</th>
                        <th>2024103262</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>10</th>
                        <th>2024101980</th>
                        <th style=background-color:grey>5</th>
                        <th>F</th>
                        <th>F</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>11</th>
                        <th>2024103273</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>12</th>
                        <th>2024103265</th>
                        <th style=background-color:grey>5</th>
                        <th>F</th>
                        <th>F</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>13</th>
                        <th>2024101977</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>14</th>
                        <th>2024103256</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>15</th>
                        <th>2024103267</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>16</th>
                        <th>2024103263</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>17</th>
                        <th>2024103272</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>18</th>
                        <th>2024103264</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>19</th>
                        <th>2024103259</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>20</th>
                        <th></th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>21</th>
                        <th>2024103258</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>22</th>
                        <th>2024103270</th>
                        <th style=background-color:grey>2</th>
                        <th>F</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>23</th>
                        <th>2024103255</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>24</th>
                        <th>2024101978</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>25</th>
                        <th>2024103277</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>26</th>
                        <th></th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>27</th>
                        <th>2024103271</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>28</th>
                        <th>2024103260</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>29</th>
                        <th>2024101982</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>30</th>
                        <th></th>
                        <th style=background-color:grey>3</th>
                        <th>P</th>
                        <th>F</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>31</th>
                        <th>2024103268</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>32</th>
                        <th>2024101983</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>33</th>
                        <th>2024103278</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>34</th>
                        <th>2024103266</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>35</th>
                        <th>2024103274</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>36</th>
                        <th>2024101979</th>
                        <th style=background-color:grey>0</th>
                        <th>P</th>
                        <th>P</th>
                        <th></th>
                        <th></th>
                    </tr>
            </thead>

        </table>
    </div>
    <br></br>

    <footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>Desenvolvido por:</p>
				</div>
				<div class="col-md-6">
					<a href="https://daniloas.com/" target="_blank">
						<img src="./assets/daniloas.png" alt="Logo Exemplo">
					</a>
				</div>
				<div class="socialmidia">
					<a href="https://www.instagram.com/daniloas.com_/" class="fa fa-instagram"></a>
					<a href="https://www.linkedin.com/in/daniloandradesantos/" class="fa fa-linkedin"></a>
					<a href="https://www.youtube.com/@daniloas.com_" class="fa fa-youtube"></a>
                    <a href="https://github.com/daniloasdotcom" class="fa fa-github" style="color:white"></a>
                    <a href="https://daniloas.com/" class="fa fa-globe" style="color:white"></a>
					<!-- Adicione mais redes sociais aqui, se desejar -->
				</div>
				<div class="col-md-6">
					<p>©2023 Danilo Andrade. Todos os direitos reservados.</p>
				</div>
			</div>
		</div>
	</footer>
    
    <script>
        var coll = document.getElementsByClassName("collapsiblemenu");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
</body>

</html>